################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
#*.dll
*.pdb
*.cache
/.vs/*

/DataPuring/bin
/DataPuring/obj/Debug
/DataPuring/obj/Release
